.container-sm{
    height: 16vh;
    background: black;
    margin: auto;
    margin-top: 50px;
}
.caja{
    padding: 0;
    color: white;
    font-size: 80px;
    height: 180px;
    text-align: center;
}

.container_icon, .uno{
    margin: 0 15px;
}
