body{
    background-color: rgb(238, 232, 230);
}

.container-md {
    height: auto;
    background: rgb(7, 7, 7);
    margin: auto;
    margin-top: 35vh;
    justify-content: center;
    align-items: center;
    border: 3px solid #2575fc;
    padding: 1vw;
}

.segundo-cont {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1vw;
    flex-wrap: nowrap;
    gap: 1vw;
    width: 100%;
    border: 3px solid #2575fc;
    height: 100%;
}

.caja {
    color: rgb(255, 253, 253);
    font-size: 9vw;
    height: auto;
    text-align: center;
    margin: 0 0.5vw;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease-in-out;
    border: 3px solid #2575fc;
    width: 100%;
}

.container_icon {
    color: #ffcc00;
    font-size: 9vw;
    padding: 2vw;
    transition: transform 0.6s ease-in-out;
}

.uno{
    color: #ffcc00;
}